<?xml version="1.0" encoding="UTF-8"?>
<launch>	
	
	<!-- Robot Model -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ProyectoInt)/urdf/phantom_description_gazebo.xacro'" />
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0"/>

	<!-- Load controllers -->
    <rosparam command="load" file="$(find ProyectoInt)/config/joints.yaml"/>
        
	<!-- Controllers -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner"
		respawn="false" output="screen" 
		args=" 
		joint_state_controller
		phantom_position_controller
		--timeout 60">
	</node>
		

	<!-- Gazebo Initialization -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="use_sim_time" value="true"/>
	</include> 

	<!-- Spawn Robot Model -->
	<node name="mybot_spawn" 
		pkg="gazebo_ros" 
		type="spawn_model" 
		output="screen"
		args="-urdf -param robot_description
		-model 2R -x $(arg x) -y $(arg y) -z $(arg z)" />

	<!-- State Publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<!-- rqt -->
	<node name="rqt_publisher" pkg="rqt_publisher" type="rqt_publisher" />

</launch>