<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    

 <xacro:macro name="m_joint" params="name type axis_xyz origin_rpy origin_xyz parent child limit_e limit_l 
 limit_u limit_v">
    <joint name="${name}" type="${type}">
      <axis xyz="${axis_xyz}" />
      <limit effort="${limit_e}" lower="${limit_l}" upper="${limit_u}" velocity="${limit_v}" />
      <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
      <parent link="${parent}" />
      <child link="${child}" />
    </joint>
    
	<transmission name="trans_${name}">
	      <type>transmission_interface/SimpleTransmission</type>
	      <joint name="${name}">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
	      </joint>
	      <actuator name="motor_${name}">
		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
		<mechanicalReduction>1</mechanicalReduction>
	      </actuator>
	    </transmission>
 </xacro:macro>

 <xacro:macro name="m_joint_mimic" params="name type axis_xyz origin_rpy origin_xyz parent child limit_e limit_l limit_u limit_v 
 mimic_joint m_multiplier m_offset">
  <joint name="${name}" type="${type}">
    <axis xyz="${axis_xyz}" />
    <limit effort="${limit_e}" lower="${limit_l}" upper="${limit_u}" velocity="${limit_v}" />
    <mimic joint="${mimic_joint}" multiplier="${m_multiplier}" offset="${m_offset}"/> 
    <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
    <parent link="${parent}" />
    <child link="${child}" />
  </joint>

<transmission name="trans_${name}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}">
  <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_${name}">
  <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
</xacro:macro>

 <xacro:macro name="m_link_mesh" params="name origin_xyz origin_rpy meshfile mass ixx ixy ixz iyy iyz izz">
    <link name="${name}">
      <inertial>
        <mass value="${mass}" />
        <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
        <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
      </inertial>
      <collision>
        <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
        <geometry>
          <mesh filename="${meshfile}"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="${origin_rpy}" xyz="${origin_xyz}" />
        <geometry>
          <mesh filename="${meshfile}"/>
        </geometry>
        <material name="orange">
            <color rgba="1 0.5 0 1"/>
        </material>
      </visual>
    </link>
    <gazebo reference="${name}">
        <material>Gazebo/BlueGlow</material>
    </gazebo>
 </xacro:macro>

 <xacro:macro name="create_noa" params="name origin_rpy origin_xyz parent">
  <link name="${name}">
   <!-- <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual> -->
  </link>
  <joint name="Tool_${name}" type="fixed">
    <origin rpy="${origin_rpy}" xyz="${origin_xyz}"/>
    <parent link="${parent}"/>
    <child link="${name}"/>
  </joint>
 </xacro:macro>
    
</robot>